.app {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 32px;
}

.app .list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0 20px;
}

.app .list .item {
  padding: 4px 8px;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
}

.app .list .item i {
  margin-right: 15px;
}

.app .list .item span {
  text-transform: capitalize;
}
